.mapContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Fix for Leaflet default marker icon in React */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-default-shadow-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png);
}
